<div class="form-box form-box--small ballon--up">
  <%= simple_form_for(conversion, html: { class: 'form form--with-border' }) do |f| %>
    <%= f.input :audio_url %>
    <%= f.input :image_url %>
    <%= f.input :email %>
    <%= f.button :submit, 'Criar Video' %>
  <% end %>
</div>
